.comments-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2em 0;
  width: 400px;
}

.selected-post {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  margin-bottom: 100px;
}

.post-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
  margin-bottom: 100px;
}

.comments-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.comments {
  width: 57%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.comment {
  width: 100%;
}

.comment-text {
  border-radius: 8px;
  background-color: hsl(285deg 90% 5% / 12%);
  padding: 20px;
  box-shadow: 0px 2px 4px 0px hsl(285deg 90% 55% / 22%), 0px -2px 4px 0px rgb(4 4 4 / 20%), 0px 0px 4px 0px rgb(4 4 4 / 20%);
  margin: 0 auto;
}

.comment-author {
  color: var(--font-color);
  font-weight: 700;
}



